.landing-header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background-image: url("/pics/mountainsbg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-overlay {
    position: absolute;
    color: #000;
    opacity: .55;
    height: 100%;
    width: 100%;
}
.landing-header-inner {
    position: relative;
    height: fit-content;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 8em;
    padding-bottom: 8em;
}

.landing-section-container {
    position: relative;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    letter-spacing: .1em;
}

.section-title {
    position: relative;
    font-size: 2.25em;
    margin-bottom: 1.5em;
}

.section-title-huge {
    position: relative;
    font-size: 2.75em;
    margin-bottom: 0.5em;
    color: #fff;
}

.section-subtitle {
    position: relative;
    font-size: 1.6em;
    color: #000;
    text-align: left;
}

.about-container {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 7em;
}

.landing-about {
    position: relative;
    vertical-align: middle;
    height: fit-content;
    width: fit-content;
    color: #fff;
}

.miscontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: fit-content;
    width: 100%;
    background-image: url("/pics/missionbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.miscard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding: 100px;
}

.section-description {
    position: relative;
    font-size: 1.6em;
    color: #fff;

}

.client-testimonials {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 5em;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
}

.client-testimonial-inner {
    position: relative;
    text-align: center;
    width: 70%;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.client-testimonial-inside {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 3em;
}

.client-item {
    position: relative;
    display: inline-block;
    height: 10em;
    width: 20em;
    transition: 0.5s ease all;
    margin-right: 2em;
    margin-left: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
