.body {
    position: relative;
    height: 1400px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #010203;
    background-image: url("companybg.jpg");
    background-attachment: fixed;
}

.box1 {
    width: 100%;
    height: fit-content;
    background-color: #0f0e0e;
    padding: 50px;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 100px;
}

.missiontext,
.profiletext {
    color: #fffF;
    font-family: 'DM Sans';
    position: relative;
    text-align: left;
    flex-wrap: wrap;
    font-size: 1.3em;
}

.box1inner {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.decbox {
    position: relative;
    background-color: #d9d9d9;
    width: 50px;
    height: 70px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.box2 {
    width: 100%;
    height: fit-content;
    background-color: #0f0e0e;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

div.logo {
    content: url("colorlogo.png");
    width: 250px;
}