.missiontext {
  position: relative;
  text-align: left;
  font-family: DM Sans;
  flex-wrap: wrap;
  object-fit: fill;
  color: #FFFF;
}

.capcontainer1 {
  position: relative;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  height: fit-content;
  width: fit-content;
}

.section1 {
  position: relative;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.caption1 {
  position: relative;
  text-align: center;
  font-family: DM Sans;
  font-size: 1.3em;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.caption1-, {
  position: relative;
  font-family: 'DM Sans';
  font-size: 1.3em;
}

