html, body {
    transition: 5s ease all;
}

.parallax-landing {
    position: relative;
    min-height: 70%;
    width: 100%;
    top: 0px;
    left: 0px;
    transition: 0.4s ease all;
    background: #61636B;
    background-image: url('/pics/shutterstock_624908471.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    /* box-shadow: 0px -416px 63px -21px rgba(0, 0, 0, 0.70) inset; */
}

.triumph-report-divider {
    position: relative;
    height: 90%;
    width: 100%;
    background-image: url("/pics/triumph_report.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    background-attachment: fixed;
}

.parallax-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.1;
}

.parallax-layer {
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.parallax-layer-inner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

#p1 {
    background-size: cover;
}

.landing-showcase {
    position: relative;
    width: 100%;
    color: #fff !important;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("pics/shutterstock_2273463753.jpg");
    box-sizing: border-box;
    padding: 9em;
}

.landing-showcase .section-title-huge {
    color: #fff;
}

.inline-middle-middle {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.landing-showcase-inner {
    position: relative;
    width: 60%;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.section-title {
    position: relative;
    font-size: 2.25em;
    margin-bottom: 1.5em;
}

.section-title-huge {
    position: relative;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.section-subtitle {
    position: relative;
    font-size: 1.4em;
}

.section-description {
    position: relative;
    font-size: 1.4em;
}

.triumph-txt {
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.triumph-showcase {
    position: relative;
    width: 100%;
    height: 30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5em;
    background-color: #272727;
    margin-top: 2em;
    box-shadow: 0px 14px 23px 10px rgba(85, 85, 85, 0.74);
}

.modular-triumph {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: #FFF;
    padding: 9em;
    box-sizing: border-box;
    /* background-image: url("pics/bg-squigles_e8e8e8.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.mt-inner {
    position: relative;
    width: 80%;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.mt-spinner {
    position: relative;
    display: inline-block;
    height: 6em;
    width: 6em;
    margin-bottom: 1em;
    background-image: url("pics/Crystal-1s-227px.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.mt-description {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
}

.mt-triumph-description {
    position: relative;
    margin-top: 4em;
}

.mt-triumph-description .section-subtitle {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
}

.mt-integrated {
    position: relative;
    display: flex;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
    max-width: 100%;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    padding: 2em;
    border-radius: 1em;
    background-color: #2F2A2A;
}

.mt-integrated-icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 3em;
    width: 3em;
    background-image: url("pics/account_tree.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 2em;
}

.mt-integrated-left {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.mt-integrated-left .section-title {
    margin-bottom: 0.5em;
}

.mt-integrated-left .section-subtitle {
    margin-bottom: 0.5em;
}

.better-business {
    margin-top: 1em;
    color: #949494;
    font-family: "DM Mono";
    letter-spacing: 0.4em;
    font-size: 1.2em;
}

.rainbow-divider {
    position: relative;
    width: 100%;
    height: 7em;
    background-image: url("pics/rainbows.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.showcase-base-models {
    position: relative;
    box-sizing: border-box;
    padding: 9em;
    /* background-image: url("/pics/bg-squigles2_e8e8e8.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
}

.showcase-mb-inner {
    position: relative;
    margin-top: 2.5em;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.showcase-mb-top {
    margin-bottom: 2em;
}

.showcase-mb-top .mt-spinner, .showcase-mb-top .section-title {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}

.showcase-mb-top .mt-spinner {
    margin-left: 3em;
}

.showcase-mb-bmodules {
    padding-top: 2em;
    margin-bottom: 2em;
}

.module {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background-color: #2F2A2A;
    padding: 1em;
    width: 10em;
    height: 15em;
    margin-bottom: 0.5em;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.3s ease all;
}

.module:hover .module-text {
    bottom: 2em;
}

.module-number {
    font-size: 2.5em;
    font-weight: 300;
    font-family: "DM Mono";
}

.module-text {
    position: absolute;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: "DM Mono";
    bottom: 1.5em;
    transition: 0.3s ease all;
}

.client-showcase-new {
    position: relative;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 6em;
    box-sizing: border-box;
    background-color: #2F2A2A;
    background-image: url("pics/34939814042_74f03e9aee_k.jpg");
    background-position: center;
    background-attachment: fixed;
}

#company-logos {
    position: relative;
    height: 100%;
    color: #fff;
}

.mission-statement {
    position: relative;
    width: 70%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2em;
    margin-bottom: 2em;
}

.company-sections {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    height: 8em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.company-logo {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 15em;
    background-color: #ccc;
    border-radius: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.client-showcase {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #F0F1F1;
    height: fit-content;
}

.client-showcase-right {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    padding: 6em;
    box-sizing: border-box;
    background-color: #2F2A2A;
    background-image: url("pics/34939814042_74f03e9aee_k.jpg");
    background-position: center;
    background-attachment: fixed;
}

.client-showcase-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.55;
}

.client-showcase-inner {
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
}

.quote-start, .quote-end {
    position: relative;
    height: 2em;
    width: 2em;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quote-start {
    vertical-align: top;
    left: -5%;
    background-image: url("pics/quote_start.png");
}

.quote-end {
    left: 100%;
    vertical-align: bottom;
    background-image: url("pics/quote_end.png");
}

.quote-author-name { color: #fff; }

.client-quote-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    left: 50%;
    transition: 0.5s ease all;
    transform: translateX(-50%);
}

#quote-container-inner {
    position: relative;
    width: 70%;
    transition: 0.5s ease all;
    left: 50%;
    transform: translateX(-50%);
}

.client-flex-container {
    display: flex;
}

.client-showcase-left {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 6em;
    width: 60%;
    box-sizing: border-box;
}

.client-showcase-title {
    margin-bottom: 2em;
}
.client-showcase-title .section-title {
    margin-bottom: 0px;
}

.client-showcase-left .section-subtitle {
    position: relative;
    margin-bottom: 1em;
}

.client-showcase-left .section-description, .mission-statement .section-description {
    margin-bottom: 1em;
}

.client-quote-container .arrow-link {
    position: relative;
    color: #fff;
    margin-top: 2em;
}

.arrow-link {
    cursor: pointer;
    text-decoration: none;
}

.arrow-link:hover .arrow-icon, .arrow-link:hover .arrow-icon-w {
    margin-left: 3em;
}

.arrow-icon-w {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    width: 3em;
    background-image: url("pics/arrow_fff.png");
    background-size: cover;
    background-position: center;
    margin-left: 2em;
    transition: 0.3s ease all;
    background-repeat: no-repeat;
}

.arrow-icon {
    position: relative;
    height: 2em;
    width: 3em;
    background-image: url("pics/arrow.png");
    background-size: cover;
    background-position: center;
    margin-left: 2em;
    transition: 0.3s ease all;
    background-repeat: no-repeat;
}

.quote-icon {
    position: relative;
    height: 3em;
    width: 3em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("pics/quote_icon.png");
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1em;
}

.arrow-txt {
    position: relative;
    font-size: 1.65em;
}

.quote-details {
    display: block;
    margin-top: 1em;
    font-size: 1.4em;
}

._client-quote {
    position: relative;
    display: table-cell;
    transition: 0.5s ease all;
    width: 100%;
    height: 25em;    
    padding-top: 5em;
    padding-bottom: 5em;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}

.client-quote {
    font-size: 1.8em;
}

.quote-author {
    font-size: 1.1em;
}

a href {
    text-decoration: none;
    text-transform: none;
}

.quote-author-name {
    font-family: "DM Sans";
    color: #000;
}

.quote-author-title {
    color: #949494;
}

.quote-company {
    font-size: 1.4em;
    font-family: "PT Sans";
    margin-bottom: 1.5em;
    text-align: center;
}

.arrow-txt, .arrow-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.planding-text {
    position: relative;
    height: fit-content;
    width: 100%;
}

.planding-inner {
    position: relative;
    width: 90%;
    transform: translateX(-50%);
    left: 50%;
    box-sizing: border-box;
    padding-right: 45%;
    padding-top: 10%;
    padding-bottom: 20%;
    color: #fff;
}

.bea-showcase {
    position: relative;
    width: 100%;
    padding: 6em;
    padding-left: 0em;
    padding-right: 0em;
    box-sizing: border-box;
}

.bea-showcase-inner {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 45%;
    box-sizing: border-box;
    color: #fff;
    margin-bottom: 20%;
}

.triumph-report-showcase {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.tr-left, .tr-right {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding: 3em;
}

.tr-right {
    position: relative;
    min-height: 50em;
    align-items: center;
    vertical-align: middle;
    background-image: url("/pics/triumph_report.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.companies {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 4em;
    padding-bottom: 4em;
    background-image: url("/pics/shutterstock_624908471.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#company-view {
    position: relative;
    height: 15em;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.company-item {
    position: relative;
    height: 12em;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.company-row {
    position: absolute;
    width: 100%;
    height: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.company {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 10em;
    width: 20em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    margin-right: 0.5em;
    margin-bottom: 1em;
    margin-left: 0.5em;
}

#crow-1B {
    top: 100%;
}