.landing-showcase {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("pics/XT3 Highway.jpg");
    box-sizing: border-box;
    padding: 9em;
}

.landing-showcase-inner {
    position: relative;
    width: 60%;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.section-title {
    position: relative;
    font-size: 2.25em;
    margin-bottom: 1.5em;
}

.section-subtitle {
    position: relative;
    font-size: 1.65em;
}

.section-description {
    position: relative;
    font-size: 1.4em;
}

.triumph-txt {
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.triumph-showcase {
    position: relative;
    width: 100%;
    height: 30em;
    border-radius: 1.5em;
    background-color: #272727;
    margin-top: 2em;
    box-shadow: 0px 14px 23px 10px rgba(85, 85, 85, 0.74);
}

.modular-triumph {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: #0F0E0E;
    padding: 9em;
    box-sizing: border-box;
    background-image: url("pics/bg-squigles.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.mt-inner {
    position: relative;
    width: 65%;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.mt-spinner {
    position: relative;
    display: inline-block;
    height: 6em;
    width: 6em;
    margin-bottom: 1em;
    background-image: url("pics/Crystal-1s-227px.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.mt-description {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
}

.mt-integrated {
    position: relative;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    width: fit-content;
    height: fit-content;
    padding: 2em;
    border-radius: 1.5em;
    background-color: #2F2A2A;
}

.mt-integrated-icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 3em;
    width: 3em;
    background-image: url("pics/account_tree.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 2em;
}

.mt-integrated-left {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.mt-integrated-left .section-subtitle {
    margin-bottom: 1em;
}

.better-business {
    margin-top: 1em;
    color: #949494;
    font-family: "DM Mono";
    letter-spacing: 0.4em;
    font-size: 1.2em;
}

.rainbow-divider {
    position: relative;
    width: 100%;
    height: 7em;
    background-image: url("pics/rainbows.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.showcase-base-models {
    position: relative;
    box-sizing: border-box;
    padding: 9em;
    background-color: #0F0E0E;
}

.showcase-mb-inner {
    position: relative;
    width: 65%;
    left: 50%;
    transform: translateX(-50%);
}

.showcase-mb-bmodules {
    padding-top: 2em;
}

.module {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #2F2A2A;
    padding: 1em;
    width: 10em;
    height: 15em;
    margin-bottom: 0.5em;
    border-radius: 1em;
}

.module-number {
    font-size: 2.5em;
    font-weight: 300;
    font-family: "DM Mono";
}

.module-text {
    position: absolute;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: "DM Mono";
    bottom: 1.5em;
}